.comment {
    width: 300px;
    height: 100px;
    resize: none;
    outline: none;
}

.send {
    width: 82px;
    height: 30px;
    border: none;
    background: #fd8040;
    color: #fff;
}

.massageList {
    width: 500px;
    margin-top: 5px;
    padding: 5px 10px;
    border: 1px solid red;
}

.info {
    border-bottom: 1px solid #eee;
}

.infoHandle {
    float: right;
}